.alert-title{
    font-size: 1.2rem !important;
}

.alert-text{
    font-size: 1rem !important;
}

.alert-button{
    font-size: 1rem !important;
}

.alert-button:focus{
    box-shadow: none !important;
}

.alert-container{
    width: fit-content;
}